body {
  font-size: 16px;
  color: #557c3e;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 40px;
  margin-left:5px;
 
}

.navbar-brand h1 { /* Food, LLC */
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px 1px 0px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.row h3.text-center{
	margin-top: 0;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #557c3e;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /* for button collapsable */
  border: 1px solid white;
}

div.col-md-12.col-sm-12.col-xs-12{
		background-color: 	#f2f2f2;
		
	}


/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#main-content{
        width: 90%;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #main-content{
        width: 90%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #main-content{
        width: 90%;
	}
   
    
}





